@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply h-full scroll-smooth antialiased;
	}

	body {
		@apply flex h-full flex-col;
	}

	main {
		@apply flex-1;
	}

	.app {
		@apply min-h-screen flex flex-col;
	}
	
}
